<app-header></app-header>
<app-user-side-bar></app-user-side-bar>



<div class="row" id="youtubecoursecard">

  <div *ngFor="let data of myenrollments | async" class="col-4 card" id="bloodCards">
    <div class="card-block">
      <img *ngIf="data.coursetype === 'Youtube'" [src]="'assets/img/youtube.png'" width="240" height="240">
      <img *ngIf="data.coursetype === 'Website'" [src]="'assets/img/website.png'" width="240" height="240">
      <hr>
      <h4 class="card-title text-center" style="margin-bottom: 4%;"><b>{{data.coursename}}</b></h4>
      <div><b style="color: rgb(0, 77, 131); font-weight: 360; margin-bottom: 1%;">Enseignant:
        </b><b>{{data.instructorname}}</b></div>
      <div><b style="color: rgb(0, 77, 131); font-weight: 360; margin-bottom: 1%;">Langue :
        </b><b>{{data.language}}</b></div>
      <div><b style="color: rgb(0, 77, 131); font-weight: 360; margin-bottom: 1%;">Niveau :
        </b><b>{{data.skilllevel}}</b></div>
      <div><b style="color: rgb(0, 77, 131); font-weight: 360; margin-bottom: 1%;">Ajouté le :
        </b><b>{{data.enrolleddate}}</b></div>
      <div><b style="color: rgb(0, 77, 131); font-weight: 360; margin-bottom: 1%;">Type de cours :
        </b><b>{{data.coursetype}}</b></div>
      <a (click)="visitCourse(data.coursename,data.instructorname)"
        style="margin-left: 19%; margin-right: auto; border: none;" class="btn btn-primary">Visiter le cours</a>
    </div>
  </div>
</div>
<br><br>