<app-header></app-header>
<app-prof-side-bar></app-prof-side-bar>

<main class="table" id="customers_table">

    <section class="table__header">
        <div class="input-group">
            <input type="search" placeholder="Rechercher..">
        </div>
    </section>

    <section class="table__body">
        <table>
            <thead>
                <tr>
                    <th> Id </th>
                    <th> Nom d'étudiant </th>
                    <th> Nom du cours </th>
                    <th> Date d'inscription</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of enrollments | async ">
                    <td> {{data.id}} </td>
                    <td> {{data.enrolledusername}} </td>
                    <td> {{data.coursename}} </td>
                    <td> {{data.enrolleddate}} </td>
                    <td>
                        <p class="status delivered">jsp
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</main>