<app-header></app-header>
<!--SideBar-->
<app-prof-side-bar></app-prof-side-bar>


<!--Espace Prof : Profil-->

<div class="row" id="profilecard">
  <div id="bloodCards" *ngFor="let professor of approval | async">
    <a><img *ngIf="professor.gender === 'Homme'" class="bloodimg"
        [src]="'https://cdn.pixabay.com/photo/2021/07/11/17/52/boy-6404506_1280.jpg'" width="140" height="140"></a>
    <a><img *ngIf="professor.gender === 'Femme'" class="bloodimg"
        [src]="'https://www.telegraph.co.uk/multimedia/archive/03249/archetypal-female-_3249633c.jpg'" width="140"
        height="140"></a>
    <div class="card-block">

      <div class="text"><small
          style="font-size: smaller; margin-left: 6%; padding: 3px 8px 3px 8px; background-color: gray; border-radius: 10px; font-weight: bold; width: 55%; color: white;">
          <i *ngIf="professor.gender === 'Femme'" class='fa fa-venus'></i>
          <i *ngIf="professor.gender === 'Homme'" class='fa fa-mars'></i> {{professor.professorname}}</small>
      </div>
      <div class="text"><b class="element" style="margin-left: 6%;"><i class='fa fa-graduation-cap'></i>
          {{professor.degreecompleted}}</b> </div>
      <div class="text"><b class="element" style="margin-left: 6%;"><i class="fa fa-university"></i> {{professor.univ}}
        </b> </div>
      <div class="text"><b class="element" style="margin-left: 6%;"><i class='fa fa-phone'></i>
          {{professor.mobile}}</b> </div>


      <div class="text"><b class="element" style="margin-left: 6%;"><i class="fa fa-thumb-tack"></i>
          {{professor.institutionname}}</b> </div>
      <div class="text"><b class="element" style="margin-left: 6%;"><i class="fa fa-envelope-o "></i>
          {{professor.email}}</b> </div>
      <div class="text"><b class="element" style="margin-left: 6%;"><i class="fa fa-black-tie "></i>
          {{professor.experience}} ans d'expérience</b>
        <div class="text"><b style="font-size: smaller; margin-left: 6%; padding: 3px 8px 3px 8px; background-color: rgb(0, 77, 131); border-radius: 10px; font-weight: bold; width: 55%; color: white;
            ;color: rgb(255, 255, 255);" [routerLink]="['/editprofessorprofile']" id="modifier">Modifier</b>
        </div>
        <div>
          <div *ngIf="currRole === 'professor' || currRole === 'PROFESSOR' && professor.email === loggedUser">
            <div *ngIf="professor.status === 'accept' && professor.gender ==='Homme'" class="acceptedprof">Approuvé
            </div>
            <div *ngIf="professor.status === 'accept' && professor.gender ==='Femme'" class="acceptedprof">Approuvée
            </div>
            <div *ngIf="professor.status === 'att'" class="pendingprof">En attente</div>
            <div *ngIf="professor.status === 'reject'" class="rejectedprof">Rejeté</div>
          </div>
        </div>
        <div *ngIf="professor.status === 'reject'">
          <div class="btndiv" style="align-items: center;"><button class="btn" *ngIf="showButton"
              (click)="Essayer(professor.email)">
              Envoyer autre demande</button></div>
        </div>
      </div>
    </div>
  </div>


  <!--Espace Manager-->


  <div class="panel panel-primary" id="adminapproval">
    <div class="panel-heading">
      <h2 *ngIf="currRole === 'admin' || currRole === 'ADMIN'"
        style="text-align: center; font-family: aladin ;color: rgb(244, 29, 34); margin-top: 3%; margin-bottom: 3%;">
        Statut des professeurs
      </h2>
    </div>
    <div class="panel-body">
      <table align="center" class="table table-bordered">
        <thead>
          <tr>
            <th>Identité</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Diplome</th>
            <th>Expérience</th>
            <th>Institut</th>
            <th>Département</th>
            <th>Téléphone</th>
            <th>Statut</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let professor of professorlist | async">
            <td><img
                *ngIf="professor.gender === 'Male' || professor.gender === 'male' || professor.gender === 'Homme' || professor.gender === 'homme'"
                class="bloodimg" [src]="'assets/img/maleprofessor.png'" width="80" height="80">
              <img
                *ngIf="professor.gender === 'Female' || professor.gender === 'female' || professor.gender === 'Femme' || professor.gender === 'femme'"
                class="bloodimg" [src]="'assets/img/femaleprofessor.png'" width="80" height="80">
            </td>
            <td>{{professor.professorname}}</td>
            <td>{{professor.email}}</td>
            <td>{{professor.degreecompleted}}</td>
            <td>{{professor.experience}} years</td>
            <td>{{professor.institutionname}} </td>
            <td>{{professor.department}}</td>
            <td>{{professor.mobile}}</td>
            <td>
              <div *ngIf="loggedUser === 'admin@gmail.com' && professor.status === 'att' ">
                <button (click)="acceptRequest(professor.email)" id="acceptbtn" value="professor.email" value="Accept"
                  style="margin-bottom: 5px;" class="accepted">Accept</button><br>
                <button (click)="rejectRequest(professor.email)" id="rejectbtn" value="professor.email" value="Reject"
                  class="rejected">Reject</button>
                <div id="acceptedbtn" class="accepted" style="display: none;">Accepté</div>
                <div id="rejectedbtn" class="rejected" style="display: none;">Rejeté</div>
              </div>
              <div *ngIf="loggedUser === 'admin@gmail.com' && professor.status === 'accept'">
                <div class="accepted">Accepté</div>
              </div>
              <div *ngIf="loggedUser === 'admin@gmail.com' && professor.status === 'reject'">
                <div class="rejected">Rejeté</div>
              </div>
              <div *ngFor="let details of responses | async"></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <br><br><br><br><br>