<app-header></app-header>

<!--apres modification-->

<div class="row" id="profilecard">
    <div id="bloodCards">
        <a><img *ngIf="professor.gender === 'Male' || professor.gender === 'Homme'|| professor.gender === 'H' || professor.gender === 'homme'"
                class="bloodimg" [src]="'assets/img/maleprofessor.png'" width="140" height="140"></a>
        <a><img *ngIf="professor.gender === 'Female' || professor.gender === 'Femme' || professor.gender === 'femme'|| professor.gender === 'F'"
                class="bloodimg" [src]="'assets/img/femaleprofessor.png'" width="140" height="140"></a>
        <div class="card-block">
            <div class="text"><b class="element" style="margin-left: 6%;"><i class='fa fa-user-circle'></i>
                    {{professor.professorname}}</b> </div>
            <div class="text"><small
                    style="font-size: smaller; margin-left: 6%; padding: 3px 8px 3px 8px; background-color: gray; border-radius: 10px; font-weight: bold; width: 55%; color: white;">{{professor.professorid}}</small>
            </div>
            <div class="text"><b class="element" style="margin-left: 6%;"><i class='fa fa-address-book-o'></i>
                    {{professor.degreecompleted}}</b> </div>
            <div class="text"><b class="element" style="margin-left: 6%;"><i class='fa fa-phone'></i>
                    {{professor.mobile}}</b> </div>
            <div class="text"><b class="element" style="margin-left: 6%;"> {{professor.univ}}</b> </div>

            <div class="text"><b class="element" style="margin-left: 6%;"> {{professor.institutionname}}</b> </div>
            <div class="text"><b class="element" style="margin-left: 6%;"> {{professor.email}}</b> </div>
            <div class="text"><b class="element" style="margin-left: 6%;"> {{professor.experience}} ans d'expérience</b>
            </div>

            <div class="btndiv" style="align-items: center;"><button class="editbtn" (click)="editProfile()"><i
                        class="fa fa-edit"></i> Modifier</button></div>
            <small id="message" *ngIf="temp === true" style="text-align: center; margin-top: 3%; color: green;"><b>
                    profil a été modifié avec succès.</b></small>
        </div>
    </div>
</div>



<!--Modifier-->

<div id="profileform">
    <div class="container register">
        <div class="row">
            <div class="col-md-9 register-right">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="textual">Modifier les informations de votre profil </h3>
                        <small *ngIf="temp === false"
                            style="font-weight: bold; margin-left: 25%; text-align: center; color: grey;"><b>
                                {{professor.professorname}},saisir des informations correctes.</b></small>
                        <small *ngIf="temp === true" style="text-align: center; color: green;"><b>Profil mis à jour avec
                                succès.</b></small>



                        <!--formulaire-->
                        <form #Updateform="ngForm" style="margin-top: -15%;" (ngSubmit)="UpdateProfessor()">
                            <div class="row register-form">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <input type="text" class="form-control" [value]="professorname"
                                            name="professorname" [(ngModel)]="professor.professorname" readonly
                                            #professorname="ngModel"
                                            [class.is-invalid]="professorname.invalid && professorname.touched">

                                    </div>

                                    <div class="form-group">
                                        <input type="email" class="form-control" name="professoremail"
                                            [(ngModel)]="professor.email" readonly
                                            pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #professoremail="ngModel"
                                            [class.is-invalid]="professoremail.invalid && professoremail.touched">
                                        <div
                                            *ngIf="professoremail.errors && (professoremail.invalid && professoremail.touched)">
                                            <small class="text-danger" *ngIf="professoremail.errors.required"><b>Champ
                                                    obligatoire</b></small>
                                            <small class="text-danger" *ngIf="professoremail.errors.pattern"><b>Adresse
                                                    email invalide</b></small>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" name="professorgender"
                                            [(ngModel)]="professor.gender" readonly #professorgender="ngModel"
                                            [class.is-invalid]="professorgender.invalid && professorgender.touched">
                                        <small class="text-danger"
                                            [class.d-none]="professorgender.valid || professorgender.untouched"><b>Champ
                                                obligatoire</b></small>

                                    </div>
                                    <div class="form-group">
                                        <input type="tel" maxlength="10" minlength="10" class="form-control"
                                            name="professormobile" [(ngModel)]="professor.mobile" required
                                            #professormobile="ngModel"
                                            [class.is-invalid]="professormobile.invalid && professormobile.touched">
                                        <small class="text-danger"
                                            [class.d-none]="professormobile.valid || professormobile.untouched"><b>Champ
                                                obligatoire</b></small>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" name="pwd"
                                            [(ngModel)]="professor.password" #professorpassword="ngModel"
                                            [class.is-invalid]="professorpassword.invalid && professorpassword.touched">
                                        <div
                                            *ngIf="professorpassword.errors && professorpassword.invalid && professorpassword.touched">
                                            <small class="text-danger"
                                                *ngIf="professorpassword.errors.required"><b>Champ
                                                    obligatoire</b></small>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="form-select" name="professoruniv" [(ngModel)]="professor.univ"
                                            required #professoruniv="ngModel"
                                            [class.is-invalid]="professoruniv.invalid && professoruniv.touched">
                                            <option value="" disabled selected>Votre université *</option>
                                            <option value="Cadi Ayyad">Cadi Ayyad</option>
                                            <option value="Mohammed V de Rabat">Mohammed V de Rabat</option>
                                            <option value="Hassan II de Casablanca">Hassan II de Casablanca</option>
                                            <option value="Mohammed Premier d'Oujda">Mohammed Premier d'Oujda</option>
                                            <option value="Ibn Tofail de Kenitra">Ibn Tofail de Kenitra</option>
                                            <option value="Sidi Mohamed Ben Abdellah de Fès">Sidi Mohamed Ben Abdellah
                                                de Fès</option>
                                            <option value="Abdelmalek Essaâdi de Tanger">Abdelmalek Essaâdi de Tanger
                                            </option>
                                            <option value="Ibn Zohr d'Agadir">Ibn Zohr d'Agadir</option>
                                            <option value="Chouaib Doukkali d'El Jadida">Chouaib Doukkali d'El Jadida
                                            </option>
                                            <option value="Moulay Ismail de Meknès">Moulay Ismail de Meknès</option>
                                            <option value="Sultan Moulay Slimane de Béni Mellal">Sultan Moulay Slimane
                                                de Béni Mellal</option>
                                            <option value="Hassan Premier de Settat">Hassan Premier de Settat</option>
                                            <option value="Mohammed VI Polytechnique de Benguerir">Mohammed VI
                                                Polytechnique de Benguerir</option>
                                            <option value="À l'étranger">À l'étranger</option>
                                            <option value="Autre">Autre</option>
                                        </select>
                                        <small class="text-danger"
                                            [class.d-none]="professoruniv.valid || professoruniv.untouched"><b>Champ
                                                obligatoire</b></small>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Département *"
                                            name="department" [(ngModel)]="professor.department" required
                                            #department="ngModel"
                                            [class.is-invalid]="department.invalid && department.touched">
                                        <small class="text-danger"
                                            [class.d-none]="department.valid || department.untouched"><b>Champ
                                                obligatoire</b></small>
                                    </div>
                                    <div class="form-group">
                                        <input type="number" class="form-control" placeholder="Années d'expérience *"
                                            name="experience" [(ngModel)]="professor.experience" required
                                            #experience="ngModel"
                                            [class.is-invalid]="experience.invalid && experience.touched">
                                        <small class="text-danger"
                                            [class.d-none]="experience.valid || experience.untouched"><b>Champ
                                                obligatoire</b></small>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-select" name="degreecompleted"
                                            [(ngModel)]="professor.degreecompleted" required #degreecompleted="ngModel"
                                            [class.is-invalid]="degreecompleted.invalid && degreecompleted.touched">
                                            <option value="" disabled selected>Diplôme obtenu *</option>
                                            <option value="Baccalauréat">Baccalauréat</option>
                                            <option value="Licence">Licence</option>
                                            <option value="Master">Master</option>
                                            <option value="Doctorat">Doctorat</option>
                                            <option value="Diplôme d'ingénieur">Diplôme d'ingénieur</option>
                                            <option value="Aucun diplôme">Aucun diplôme</option>
                                            <option value="Autre">Autre</option>
                                        </select>
                                        <small class="text-danger"
                                            [class.d-none]="degreecompleted.valid || degreecompleted.untouched"><b>Champ
                                                obligatoire</b></small>
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control"
                                            placeholder="Confirmer le mot de passe *" name="ConfirmPassword"
                                            (ngModel)="professor.password" required #professorconfirmPassword="ngModel"
                                            [class.is-invalid]="professorconfirmPassword.invalid && professorconfirmPassword.touched">
                                        <small class="text-danger"
                                            [class.d-none]="(professorconfirmPassword.value == professorpassword.value) || professorconfirmPassword.untouched"><b>Les
                                                mots de passe saisis ne correspondent pas.</b></small>
                                    </div>
                                </div>
                            </div>
                            <button [disabled]="Updateform.form.invalid" type="submit"
                                class="btn registerbtn">Modifier</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>