<app-header></app-header>

<div class="container register">
    <div class="row">
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading">Nouveau Cours</h3>
                    <small class="text-danger"><b>{{msg}}</b></small>
                    <form #courseform="ngForm" (ngSubmit)="addCourse()">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nom du cours : <b style="color:red;">*</b></label>
                                    <input type="text" class="form-control" placeholder="Entrer le nom du cours"
                                        name="coursename" [(ngModel)]="course.coursename" required #coursename="ngModel"
                                        [class.is-invalid]="coursename.invalid && coursename.touched">
                                    <small class="text-danger"
                                        [class.d-none]="coursename.valid || coursename.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <label>Nom d'instructeur : <b style="color:red;">*</b></label>
                                    <input type="text" class="form-control" value="professor.professorname"
                                        placeholder="Entrer le nom d'instructeur" name="coursename"
                                        [(ngModel)]="course.instructorname" required #instructorname="ngModel"
                                        [class.is-invalid]="instructorname.invalid && instructorname.touched">
                                    <small class="text-danger"
                                        [class.d-none]="instructorname.valid || instructorname.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group" style="display: none;" id="youtubelink">
                                    <label>Cours Video ID : (juste l'ID) <b style="color:red;">*</b></label>
                                    <input type="url" class="form-control" placeholder="Mentionner youtube video ID"
                                        name="youtubeurl" [(ngModel)]="course.youtubeurl" required #youtubeurl="ngModel"
                                        [class.is-invalid]="youtubeurl.invalid && youtubeurl.touched">
                                    <small class="text-danger"
                                        [class.d-none]="youtubeurl.valid || youtubeurl.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <label>Type du cours : <b style="color:red;">*</b></label>
                                    <select class="form-control" id="sel1" name="coursetype"
                                        [(ngModel)]="course.coursetype" #coursetype="ngModel">
                                        <option value="Website">Website</option>
                                        <option value="Youtube">Youtube</option>
                                        <option>Live Interaction</option>
                                        <option>Google Classroom</option>
                                        <option>Autres</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Langue du cours : <b style="color:red;">*</b></label>
                                    <select class="form-control" id="sel1" name="language" [(ngModel)]="course.language"
                                        #language="ngModel">
                                        <option>Français</option>
                                        <option>English</option>
                                        <option>العربية</option>
                                        <option>Autres</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date d'inscription : <b style="color:red;">*</b></label>
                                    <input type="date" class="form-control" placeholder="Selectionner la date d'insc"
                                        name="enrolleddate" [(ngModel)]="course.enrolleddate" required
                                        #enrolleddate="ngModel"
                                        [class.is-invalid]="enrolleddate.invalid && enrolleddate.touched">
                                    <small class="text-danger"
                                        [class.d-none]="enrolleddate.valid || enrolleddate.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">

                                    <label>Institut d'instructeur : <b style="color:red;">*</b></label>
                                    <input type="text" class="form-control"
                                        placeholder="Entrer l'institut d'instructeur" name="instructorinstitution"
                                        [(ngModel)]="course.instructorinstitution" required
                                        #instructorinstitution="ngModel"
                                        [class.is-invalid]="instructorinstitution.invalid && instructorinstitution.touched">
                                    <small class="text-danger"
                                        [class.d-none]="instructorinstitution.valid || instructorinstitution.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group" style="display: none;" id="websitelink">
                                    <label>Cours Website URL : <b style="color:red;">*</b></label>
                                    <input type="url" class="form-control" placeholder="Mentionner le website url"
                                        name="websiteurl" [(ngModel)]="course.websiteurl" #websiteurl="ngModel"
                                        [class.is-invalid]="websiteurl.invalid && websiteurl.touched">
                                </div>
                                <div class="form-group">
                                    <label>Niveau : <b style="color:red;">*</b></label>
                                    <select class="form-control" id="sel1" name="skilllevel"
                                        [(ngModel)]="course.skilllevel" #skilllevel="ngModel">
                                        <option>Basique</option>
                                        <option>Intermédiaire</option>
                                        <option>Avancé</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description du cours: <b style="color:red;">*</b></label>
                                    <textarea type="text" rows="4" class="form-control"
                                        placeholder="Entrer la description du cours" name="prescription"
                                        [(ngModel)]="course.description" required #description="ngModel"
                                        [class.is-invalid]="description.invalid && description.touched"></textarea>
                                    <small class="text-danger"
                                        [class.d-none]="description.valid || description.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                            </div>
                        </div>
                        <button [disabled]="courseform.form.invalid" type="submit" class="btnRegister"><i
                                class="fa fa-plus"></i> Ajouter </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>