<app-header></app-header>
<div class="container register">
    <div class="row">
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading">Modifier le cours</h3>

                    <form #courseform="ngForm" (ngSubmit)="UpdateCourse()">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Nom du cours : <b style="color:red;">*</b></label>
                                    <input type="text" class="form-control" placeholder="Entrer le nom du cours"
                                        name="coursename" [(ngModel)]="course.coursename" required #coursename="ngModel"
                                        [class.is-invalid]="coursename.invalid && coursename.touched">
                                    <small class="text-danger"
                                        [class.d-none]="coursename.valid || coursename.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <label>Nom d'instructeur : <b style="color:red;"></b></label>
                                    <input type="text" class="form-control" placeholder="Entrer le nom d'instructeur"
                                        name="professorname" readonly [(ngModel)]="professor.professorname"
                                        #instructorname="ngModel">
                                </div>

                                <div class="form-group" style="display: none;" id="youtubelink">
                                    <label>Cours Video ID : <b style="color:red;">*</b></label>
                                    <input type="url" class="form-control" placeholder="Mentionner youtube video ID"
                                        name="youtubeurl" [(ngModel)]="course.youtubeurl" #youtubeurl="ngModel"
                                        [class.is-invalid]="youtubeurl.invalid && youtubeurl.touched">
                                    <small class="text-danger"
                                        [class.d-none]="youtubeurl.valid || youtubeurl.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <label>Type du cours : <b style="color:red;">*</b></label>
                                    <select class="form-select" id="sel1" name="coursetype"
                                        [(ngModel)]="course.coursetype" #coursetype="ngModel">
                                        <option value="Website" selected>Website</option>
                                        <option value="Youtube">Youtube</option>
                                        <option value="live">Live Interaction</option>
                                        <option value="googleclassroom">Google Classroom</option>
                                        <option value="autre">Autres</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Langue du cours : <b style="color:red;">*</b></label>
                                    <select class="form-select" id="sel1" name="language" [(ngModel)]="course.language"
                                        #language="ngModel" required>
                                        <option>Français</option>
                                        <option>English</option>
                                        <option>العربية</option>
                                        <option>Español</option>
                                        <option>Autres</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Date d'ajout du cours : <b style="color:red;"></b></label>
                                    <input type="date" class="form-control" name="enrolleddate"
                                        [(ngModel)]="course.enrolleddate" readonly #enrolleddate="ngModel"
                                        [class.is-invalid]="enrolleddate.invalid && enrolleddate.touched">
                                    <small class="text-danger"
                                        [class.d-none]="enrolleddate.valid || enrolleddate.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">

                                    <label>Établissement d'instructeur : <b style="color:red;"></b></label>
                                    <input type="text" class="form-control"
                                        placeholder="Entrer l'institut d'instructeur" readonly
                                        name="instructorinstitution" [(ngModel)]="professor.institutionname"
                                        #instructorinstitution="ngModel">

                                </div>
                                <div class="form-group" style="display: none;" id="websitelink">
                                    <label>Cours Website URL : <b style="color:red;">*</b></label>
                                    <input type="url" class="form-control" placeholder="Mentionner le website url"
                                        name="websiteurl" [(ngModel)]="course.websiteurl" #websiteurl="ngModel"
                                        [class.is-invalid]="websiteurl.invalid && websiteurl.touched">
                                </div>
                                <div class="form-group">
                                    <label>Niveau : <b style="color:red;">*</b></label>
                                    <select class="form-select" id="sel1" name="skilllevel"
                                        [(ngModel)]="course.skilllevel" #skilllevel="ngModel" required>
                                        <option selected>Basique</option>
                                        <option>Intermédiaire</option>
                                        <option>Avancé</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="description">Description du cours: <b style="color:red;">*</b></label>
                                    <textarea type="text" rows="3" class="form-control"
                                        placeholder="Entrer la description du cours" name="prescription"
                                        [(ngModel)]="course.description" required #description="ngModel"
                                        [class.is-invalid]="description.invalid && description.touched"></textarea>
                                    <small class="text-danger"
                                        [class.d-none]="description.valid || description.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                            </div>

                        </div>
                        <button type="submit" [disabled]="courseform.form.invalid" class="btnRegister"> Valider
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>