<div class="container register">
    <div class="row">
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link nav1" id="home-tab" data-toggle="tab" data-target="#home" role="tab"
                        aria-controls="home" aria-selected="true">Utilisateur</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav2" id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile"
                        aria-selected="false">Professeur</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Inscription en tant qu'utilisateur</h3>
                    <br>
                    <small class="text-danger"><b>{{msg}}</b></small>
                    <form #userform="ngForm" (ngSubmit)="registerUser()">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom *" name="username"
                                        [(ngModel)]="user.username" required #username="ngModel"
                                        [class.is-invalid]="username.invalid && username.touched">
                                    <small class="text-danger"
                                        [class.d-none]="username.valid || username.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Sexe *" name="usergender"
                                        [(ngModel)]="user.gender" required #usergender="ngModel"
                                        [class.is-invalid]="usergender.invalid && usergender.touched">
                                    <small class="text-danger"
                                        [class.d-none]="usergender.valid || usergender.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Votre profession *"
                                        name="userprofession" [(ngModel)]="user.profession" required
                                        #userprofession="ngModel"
                                        [class.is-invalid]="userprofession.invalid && userprofession.touched">
                                    <small class="text-danger"
                                        [class.d-none]="userprofession.valid || userprofession.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Mot de passe *" name="pwd"
                                        [(ngModel)]="user.password" required #userpassword="ngModel"
                                        [class.is-invalid]="userpassword.invalid && userpassword.touched">
                                    <div *ngIf="userpassword.errors && userpassword.invalid && userpassword.touched">
                                        <small class="text-danger" *ngIf="userpassword.errors.required"><b>Champ
                                                obligatoire</b></small>
                                    </div>
                                    <small style="color: gray; font-size: 10px;">Au moins une lettre majuscule, un
                                        chiffre,
                                        une lettre minuscule, un caractère spécial, longueur de 6 à 20
                                        caractères.</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Adresse email *"
                                        name="useremail" [(ngModel)]="user.email" required
                                        pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #useremail="ngModel"
                                        [class.is-invalid]="useremail.invalid && useremail.touched">
                                    <div *ngIf="useremail.errors && (useremail.invalid && useremail.touched)">
                                        <small class="text-danger" *ngIf="useremail.errors.required"><b>Champ
                                                obligatoire</b></small>
                                        <small class="text-danger" *ngIf="useremail.errors.pattern"><b>Cette adresse
                                                email n'est pas
                                                valide ou a déjà été utilisée.</b></small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="tel" maxlength="10" minlength="10" class="form-control"
                                        placeholder="Téléphone  *" name="usermobile" [(ngModel)]="user.mobile" required
                                        #usermobile="ngModel"
                                        [class.is-invalid]="usermobile.invalid && usermobile.touched">
                                    <small class="text-danger"
                                        [class.d-none]="usermobile.valid || usermobile.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Adresse *" name="useraddress"
                                        [(ngModel)]="user.address" required #useraddress="ngModel"
                                        [class.is-invalid]="useraddress.invalid && useraddress.touched">
                                    <small class="text-danger"
                                        [class.d-none]="useraddress.valid || useraddress.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control"
                                        placeholder="Confirmer le mot de passe *" name="ConfirmPassword"
                                        (ngModel)="user.password" required #userconfirmPassword="ngModel"
                                        [class.is-invalid]="userconfirmPassword.invalid && userconfirmPassword.touched">
                                    <!--<div style="margin-top: -4%; margin-bottom: 3%;" *ngIf="userconfirmPassword.valid || userconfirmPassword.touched">
                                    <small class="text-danger" *ngIf="(userconfirmPassword.value == userpassword.value) || userconfirmPassword.touched"><b>password not matched</b></small>
                                </div>-->
                                    <small class="text-danger"
                                        [class.d-none]="(userconfirmPassword.value == userpassword.value) || userconfirmPassword.untouched"><b>
                                            Les mots de passe saisis ne correspondent pas.</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox" style="margin-top: -8%; margin-left: 11%;">
                            <small style="color: gray;"><input type="checkbox" class="checkbox" name="remember"
                                    required> J'accepte toutes les conditions</small>
                        </div>
                        <div
                            style="margin-top: -3%; margin-left: 58.5%; margin-bottom: 3%; color: rgb(0, 0, 0); font-size: 16px;">
                            Avez-vous déjà un compte ?
                            <small [routerLink]="['/login']"
                                style="color: rgb(244, 29, 34); text-align: center; cursor: pointer;"><b>Cliquer
                                    ici</b></small>
                        </div>
                        <button [disabled]="userform.form.invalid" type="submit" class="btnRegister">S'inscrire</button>
                    </form>
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading">Inscription en tant que professeur</h3>
                    <small class="text-danger"><b>{{msg}}</b></small>
                    <form #professorform="ngForm" (ngSubmit)="registerProfessor()">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom *" name="professorname"
                                        [(ngModel)]="professor.professorname" required #professorname="ngModel"
                                        [class.is-invalid]="professorname.invalid && professorname.touched">
                                    <small class="text-danger"
                                        [class.d-none]="professorname.valid || professorname.untouched"><b>Champ
                                            obligatoire
                                        </b></small>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Adresse email *"
                                        name="professoremail" [(ngModel)]="professor.email" required
                                        pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #professoremail="ngModel"
                                        [class.is-invalid]="professoremail.invalid && professoremail.touched">
                                    <div
                                        *ngIf="professoremail.errors && (professoremail.invalid && professoremail.touched)">
                                        <small class="text-danger" *ngIf="professoremail.errors.required"><b>Champ
                                                obligatoire</b></small>
                                        <small class="text-danger" *ngIf="professoremail.errors.pattern"><b>Adresse
                                                email invalide</b></small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Sexe *" name="professorgender"
                                        [(ngModel)]="professor.gender" required #professorgender="ngModel"
                                        [class.is-invalid]="professorgender.invalid && professorgender.touched">
                                    <small class="text-danger"
                                        [class.d-none]="professorgender.valid || professorgender.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="tel" maxlength="10" minlength="10" class="form-control"
                                        placeholder="Téléphone *" name="professormobile" [(ngModel)]="professor.mobile"
                                        required #professormobile="ngModel"
                                        [class.is-invalid]="professormobile.invalid && professormobile.touched">
                                    <small class="text-danger"
                                        [class.d-none]="professormobile.valid || professormobile.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Mot de passe *" name="pwd"
                                        [(ngModel)]="professor.password" required #professorpassword="ngModel"
                                        [class.is-invalid]="professorpassword.invalid && professorpassword.touched">
                                    <div
                                        *ngIf="professorpassword.errors && professorpassword.invalid && professorpassword.touched">
                                        <small class="text-danger" *ngIf="professorpassword.errors.required"><b>Champ
                                                obligatoire</b></small>
                                    </div>
                                    <small style="color: gray; font-size: 10px;">Au moins une lettre majuscule, un
                                        chiffre, une lettre minuscule, un caractère spécial, longueur de 6 à 20
                                        caractères.</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom de l'institution *"
                                        name="institutionname" [(ngModel)]="professor.institutionname" required
                                        #institutionname="ngModel"
                                        [class.is-invalid]="institutionname.invalid && institutionname.touched">
                                    <small class="text-danger"
                                        [class.d-none]="institutionname.valid || institutionname.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Département *"
                                        name="department" [(ngModel)]="professor.department" required
                                        #department="ngModel"
                                        [class.is-invalid]="department.invalid && department.touched">
                                    <small class="text-danger"
                                        [class.d-none]="department.valid || department.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Années d'expérience *"
                                        name="experience" [(ngModel)]="professor.experience" required
                                        #experience="ngModel"
                                        [class.is-invalid]="experience.invalid && experience.touched">
                                    <small class="text-danger"
                                        [class.d-none]="experience.valid || experience.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Diplôme obtenu *"
                                        name="degreecompleted" [(ngModel)]="professor.degreecompleted" required
                                        #degreecompleted="ngModel"
                                        [class.is-invalid]="degreecompleted.invalid && degreecompleted.touched">
                                    <small class="text-danger"
                                        [class.d-none]="degreecompleted.valid || degreecompleted.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control"
                                        placeholder="Confirmer le mot de passe *" name="ConfirmPassword"
                                        (ngModel)="professor.password" required #professorconfirmPassword="ngModel"
                                        [class.is-invalid]="professorconfirmPassword.invalid && professorconfirmPassword.touched">
                                    <small class="text-danger"
                                        [class.d-none]="(professorconfirmPassword.value == professorpassword.value) || professorconfirmPassword.untouched"><b>
                                            Les mots de passe saisis ne correspondent pas.</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox" style="margin-top: -8%; margin-left: 11%;">
                            <small style="color: gray;"><input type="checkbox" class="checkbox" name="remember"
                                    required> J'accepte toutes les conditions </small>
                        </div>
                        <div
                            style="margin-top: -3%; margin-left: 58.5%; margin-bottom: 3%; color: rgb(0, 0, 0); font-size: 16px;">
                            Avez-vous déjà un compte ?
                            <small [routerLink]="['/login']"
                                style="color: rgb(244, 29, 34); text-align: center; cursor: pointer;"><b>Cliquer
                                    ici</b></small>
                        </div>
                        <button [disabled]="professorform.form.invalid" type="submit"
                            class="btnRegister">S'inscrire</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>