<div class="container register">
    <div class="row">
        <div class="col-md-9 register-right">


            <!--prof & etud-->
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link nav1" id="home-tab" data-toggle="tab" data-target="#home" role="tab"
                        aria-controls="home" aria-selected="true">Étudiant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav2" id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile"
                        aria-selected="false">Enseignant</a>
                </li>
            </ul>



            <!--Etudiant-->


            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <br>
                    <h4 class="register-heading">Inscription en tant qu'étudiant</h4>
                    <form #userform="ngForm" (ngSubmit)="registerUser()">
                        <div class="row register-form">
                            <div class="col-md-6">


                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom complet *" name="username"
                                        [(ngModel)]="user.username" required #username="ngModel"
                                        [class.is-invalid]="username.invalid && username.touched">
                                    <small class="text-danger"
                                        [class.d-none]="username.valid || username.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>

                                <div class="form-group">
                                    <b style="color:rgb(0, 0, 0)">Sexe * </b>:
                                    <label for="f" style="margin-right: 1%;">Femme</label> <input id="f" type="radio"
                                        name="usergender" [(ngModel)]="user.gender" required #usergender="ngModel"
                                        [class.is-invalid]="usergender.invalid && usergender.touched" value="Femme">
                                    <label for="h" style="margin-right: 1%;margin-left: 1%;">Homme</label> <input id="h"
                                        type="radio" name="usergender" [(ngModel)]="user.gender" required
                                        #usergender="ngModel"
                                        [class.is-invalid]="usergender.invalid && usergender.touched" value="Homme">
                                    <small class="text-danger"
                                        [class.d-none]="usergender.valid || usergender.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Votre domaine *"
                                        name="userprofession" [(ngModel)]="user.profession" required
                                        #userprofession="ngModel"
                                        [class.is-invalid]="userprofession.invalid && userprofession.touched">
                                    <small class="text-danger"
                                        [class.d-none]="userprofession.valid || userprofession.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>

                                <div class="form-group">
                                    <div class="form-group">
                                        <select class="form-control" name="useruniv" [(ngModel)]="user.univ" required
                                            #useruniv="ngModel"
                                            [class.is-invalid]="useruniv.invalid && useruniv.touched">
                                            <option value="" disabled selected>Votre université d'études *
                                            </option>
                                            <option value="Cadi Ayyad">Cadi Ayyad</option>
                                            <option value="Mohammed V de Rabat">Mohammed V de Rabat</option>
                                            <option value="Hassan II de Casablanca">Hassan II de Casablanca</option>
                                            <option value="Mohammed Premier d'Oujda">Mohammed Premier d'Oujda</option>
                                            <option value="Ibn Tofail de Kenitra">Ibn Tofail de Kenitra</option>
                                            <option value="Sidi Mohamed Ben Abdellah de Fès">Sidi Mohamed Ben Abdellah
                                                de Fès</option>
                                            <option value="Abdelmalek Essaâdi de Tanger">Abdelmalek Essaâdi de Tanger
                                            </option>
                                            <option value="Ibn Zohr d'Agadir">Ibn Zohr d'Agadir</option>
                                            <option value="Chouaib Doukkali d'El Jadida">Chouaib Doukkali d'El Jadida
                                            </option>
                                            <option value="Moulay Ismail de Meknès">Moulay Ismail de Meknès</option>
                                            <option value="Sultan Moulay Slimane de Béni Mellal">Sultan Moulay Slimane
                                                de Béni Mellal</option>
                                            <option value="Hassan Premier de Settat">Hassan Premier de Settat</option>
                                            <option value="Mohammed VI Polytechnique de Benguerir">Mohammed VI
                                                Polytechnique de Benguerir</option>
                                            <option value="À l'étranger">À l'étranger
                                            </option>
                                            <option value="Autre">Autre
                                            </option>
                                        </select>
                                        <small class="text-danger"
                                            [class.d-none]="useruniv.valid || useruniv.untouched"><b>Champ
                                                obligatoire</b></small>
                                    </div>
                                    <small class="text-danger"
                                        [class.d-none]="useruniv.valid || useruniv.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Mot de passe *" name="pwd"
                                        [(ngModel)]="user.password" required #userpassword="ngModel"
                                        [class.is-invalid]="userpassword.invalid && userpassword.touched">
                                    <div *ngIf="userpassword.errors && userpassword.invalid && userpassword.touched">
                                        <small class="text-danger" *ngIf="userpassword.errors.required"><b>Champ
                                                obligatoire</b></small>
                                    </div>
                                </div>

                                <!----Photo-->

                                <div class="form-group">
                                    <label style="margin-bottom: 1.5%;" for="pic"> Votre photo *</label>
                                    <input type="file" accept="image/*" name="pic" id="pic" [(ngModel)]="user.pic"
                                        #userpic="ngModel" class="form-control"
                                        [class.is-invalid]="userpic.invalid && userpassword.touched">
                                    <div *ngIf="userpic.errors && userpic.invalid && userpic.touched">
                                        <small class="text-danger" *ngIf="userpic.errors.required"><b>Champ
                                                obligatoire</b></small>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Adresse email *"
                                        name="useremail" [(ngModel)]="user.email" required
                                        pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #useremail="ngModel"
                                        [class.is-invalid]="useremail.invalid && useremail.touched">
                                    <div *ngIf="useremail.errors && (useremail.invalid && useremail.touched)">
                                        <small class="text-danger" *ngIf="useremail.errors.required"><b>Champ
                                                obligatoire</b></small>
                                        <small class="text-danger" *ngIf="useremail.errors.pattern"><b>Cette adresse
                                                email n'est pas
                                                valide ou a déjà été utilisée.</b></small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="tel" maxlength="10" minlength="10" class="form-control"
                                        placeholder="Téléphone  *" name="usermobile" [(ngModel)]="user.mobile" required
                                        #usermobile="ngModel"
                                        [class.is-invalid]="usermobile.invalid && usermobile.touched">
                                    <small class="text-danger"
                                        [class.d-none]="usermobile.valid || usermobile.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Adresse *" name="useraddress"
                                        [(ngModel)]="user.address" required #useraddress="ngModel"
                                        [class.is-invalid]="useraddress.invalid && useraddress.touched">
                                    <small class="text-danger"
                                        [class.d-none]="useraddress.valid || useraddress.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>

                                <div class="form-group">
                                    <select class="form-control" name="userlevel" [(ngModel)]="user.level" required
                                        #userlevel="ngModel"
                                        [class.is-invalid]="userlevel.invalid && userlevel.touched">
                                        <option value="" disabled selected>Votre niveau d'études *</option>
                                        <option value="Baccalauréat">Baccalauréat</option>
                                        <option value="Licence">Licence</option>
                                        <option value="Master">Master</option>
                                        <option value="Doctorat">Doctorat</option>
                                        <option value="Diplôme d'ingénieur">Diplôme d'ingénieur</option>
                                        <option value="Aucun diplôme">Aucun diplôme</option>
                                        <option value="Autre">Autre</option>
                                    </select>
                                    <small class="text-danger"
                                        [class.d-none]="userlevel.valid || userlevel.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>

                                <div class="form-group">
                                    <input type="password" class="form-control"
                                        placeholder="Confirmer le mot de passe *" name="ConfirmPassword"
                                        (ngModel)="user.password" required #userconfirmPassword="ngModel"
                                        [class.is-invalid]="userconfirmPassword.invalid && userconfirmPassword.touched">
                                    <!--<div style="margin-top: -4%; margin-bottom: 3%;" *ngIf="userconfirmPassword.valid || userconfirmPassword.touched">
                                    <small class="text-danger" *ngIf="(userconfirmPassword.value == userpassword.value) || userconfirmPassword.touched"><b>password not matched</b></small>
                                </div>-->
                                    <small class="text-danger"
                                        [class.d-none]="(userconfirmPassword.value == userpassword.value) || userconfirmPassword.untouched"><b>
                                            Les mots de passe saisis ne correspondent pas.</b></small>
                                </div>
                            </div>
                        </div>
                        <div class="checkbox" style="margin-top: -8%; margin-left: 11%;">
                            <small class="text-danger"><b>{{msg}}</b></small>
                        </div>
                        <div
                            style="margin-top: -3%; margin-left: 58.5%; margin-bottom: 3%; color: rgb(0, 0, 0); font-size: 16px;">
                            Avez-vous déjà un compte ?
                            <small [routerLink]="['/login']"
                                style="color: rgb(5, 111, 111); text-align: center; cursor: pointer;">Cliquer
                                ici</small>
                        </div>
                        <div id="logo">
                            <button type="submit" [routerLink]="['/']" class="btnRegister">Retour à l'accueil</button>
                            <button [disabled]="userform.form.invalid" type="submit"
                                class="btnRegister">S'inscrire</button>
                        </div>
                    </form>
                </div>




                <!--Professeur-->


                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <br>
                    <h4 class="register-heading">Inscription en tant qu'enseignant</h4>
                    <form #professorform="ngForm" (ngSubmit)="registerProfessor()">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom complet *"
                                        name="professorname" [(ngModel)]="professor.professorname" required
                                        #professorname="ngModel"
                                        [class.is-invalid]="professorname.invalid && professorname.touched">
                                    <small class="text-danger"
                                        [class.d-none]="professorname.valid || professorname.untouched"><b>Champ
                                            obligatoire
                                        </b></small>
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Adresse email *"
                                        name="professoremail" [(ngModel)]="professor.email" required
                                        pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #professoremail="ngModel"
                                        [class.is-invalid]="professoremail.invalid && professoremail.touched">
                                    <div
                                        *ngIf="professoremail.errors && (professoremail.invalid && professoremail.touched)">
                                        <small class="text-danger" *ngIf="professoremail.errors.required"><b>Champ
                                                obligatoire</b></small>
                                        <small class="text-danger" *ngIf="professoremail.errors.pattern"><b>Adresse
                                                email invalide</b></small>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <select class="form-control" name="professoruniv" [(ngModel)]="professor.univ"
                                        required #professoruniv="ngModel"
                                        [class.is-invalid]="professoruniv.invalid && professoruniv.touched">
                                        <option value="" disabled selected>Votre université *
                                        </option>
                                        <option value="Cadi Ayyad">Cadi Ayyad</option>
                                        <option value="Mohammed V de Rabat">Mohammed V de Rabat</option>
                                        <option value="Hassan II de Casablanca">Hassan II de Casablanca</option>
                                        <option value="Mohammed Premier d'Oujda">Mohammed Premier d'Oujda</option>
                                        <option value="Ibn Tofail de Kenitra">Ibn Tofail de Kenitra</option>
                                        <option value="Sidi Mohamed Ben Abdellah de Fès">Sidi Mohamed Ben Abdellah
                                            de Fès</option>
                                        <option value="Abdelmalek Essaâdi de Tanger">Abdelmalek Essaâdi de Tanger
                                        </option>
                                        <option value="Ibn Zohr d'Agadir">Ibn Zohr d'Agadir</option>
                                        <option value="Chouaib Doukkali d'El Jadida">Chouaib Doukkali d'El Jadida
                                        </option>
                                        <option value="Moulay Ismail de Meknès">Moulay Ismail de Meknès</option>
                                        <option value="Sultan Moulay Slimane de Béni Mellal">Sultan Moulay Slimane
                                            de Béni Mellal</option>
                                        <option value="Hassan Premier de Settat">Hassan Premier de Settat</option>
                                        <option value="Mohammed VI Polytechnique de Benguerir">Mohammed VI
                                            Polytechnique de Benguerir</option>
                                        <option value="À l'étranger">À l'étranger
                                        </option>
                                        <option value="Autre">Autre
                                        </option>
                                    </select>
                                    <small class="text-danger"
                                        [class.d-none]="professoruniv.valid || professoruniv.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>

                                <div class="form-group">
                                    <b style="color:rgb(0, 0, 0)">Sexe * </b>:
                                    <label for="fe" style="margin-right: 1%;">Femme</label>
                                    <input type="radio" id="fe" name="professorgender" [(ngModel)]="professor.gender"
                                        required #professorgender="ngModel"
                                        [class.is-invalid]="professorgender.invalid && professorgender.touched"
                                        value="Femme">
                                    <label for="ho" style="margin-right: 1%;margin-left: 1%;">Homme</label>
                                    <input type="radio" id="ho" name="professorgender" [(ngModel)]="professor.gender"
                                        required #professorgender="ngModel"
                                        [class.is-invalid]="professorgender.invalid && professorgender.touched"
                                        value="Homme">
                                    <small class="text-danger"
                                        [class.d-none]="professorgender.valid || professorgender.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="tel" maxlength="10" minlength="10" class="form-control"
                                        placeholder="Téléphone *" name="professormobile" [(ngModel)]="professor.mobile"
                                        required #professormobile="ngModel"
                                        [class.is-invalid]="professormobile.invalid && professormobile.touched">
                                    <small class="text-danger"
                                        [class.d-none]="professormobile.valid || professormobile.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Mot de passe *" name="pwd"
                                        [(ngModel)]="professor.password" required #professorpassword="ngModel"
                                        [class.is-invalid]="professorpassword.invalid && professorpassword.touched">
                                    <div
                                        *ngIf="professorpassword.errors && professorpassword.invalid && professorpassword.touched">
                                        <small class="text-danger" *ngIf="professorpassword.errors.required"><b>Champ
                                                obligatoire</b></small>
                                    </div>
                                </div>
                                <small style="color : rgb(161, 106, 34); font-size: 12px;margin-right: 0%;">Après
                                    l'inscription, une
                                    demande d’enseignement sera automatiquement envoyée, attendez qu’elle soit
                                    traitée</small>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nom d'établissement *"
                                        name="institutionname" [(ngModel)]="professor.institutionname" required
                                        #institutionname="ngModel"
                                        [class.is-invalid]="institutionname.invalid && institutionname.touched">
                                    <small class="text-danger"
                                        [class.d-none]="institutionname.valid || institutionname.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Département *"
                                        name="department" [(ngModel)]="professor.department" required
                                        #department="ngModel"
                                        [class.is-invalid]="department.invalid && department.touched">
                                    <small class="text-danger"
                                        [class.d-none]="department.valid || department.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Années d'expérience *"
                                        name="experience" [(ngModel)]="professor.experience" required
                                        #experience="ngModel"
                                        [class.is-invalid]="experience.invalid && experience.touched">
                                    <small class="text-danger"
                                        [class.d-none]="experience.valid || experience.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" name="degreecompleted"
                                        [(ngModel)]="professor.degreecompleted" required #degreecompleted="ngModel"
                                        [class.is-invalid]="degreecompleted.invalid && degreecompleted.touched">
                                        <option value="" disabled selected>Diplôme obtenu * </option>
                                        <option value="Baccalauréat">Baccalauréat</option>
                                        <option value="Licence">Licence</option>
                                        <option value="Master">Master</option>
                                        <option value="Doctorat">Doctorat</option>
                                        <option value="Diplôme d'ingénieur">Diplôme d'ingénieur</option>
                                        <option value="Aucun diplôme">Aucun diplôme</option>
                                        <option value="Autre">Autre</option>
                                    </select>
                                    <small class="text-danger"
                                        [class.d-none]="degreecompleted.valid || degreecompleted.untouched"><b>Champ
                                            obligatoire</b></small>
                                </div>

                                <!----Photo-->
                                <div class="form-group">
                                    <label style="margin-bottom: 1.5%;" for="picprof"> Votre photo *</label>
                                    <input type="file" accept="image/*" name="picprof" id="picprof"
                                        class="form-control">
                                </div>


                                <div class="form-group">
                                    <input type="password" class="form-control"
                                        placeholder="Confirmer le mot de passe *" name="ConfirmPassword"
                                        (ngModel)="professor.password" required #professorconfirmPassword="ngModel"
                                        [class.is-invalid]="professorconfirmPassword.invalid && professorconfirmPassword.touched">
                                    <small class="text-danger"
                                        [class.d-none]="(professorconfirmPassword.value == professorpassword.value) || professorconfirmPassword.untouched"><b>
                                            Les mots de passe saisis ne correspondent pas.</b></small>
                                </div>




                            </div>
                        </div>
                        <div class="checkbox" style="margin-top: -8%; margin-left: 11%;">
                            <small class="text-danger"><b>{{msg}}</b></small>

                        </div>
                        <div
                            style="margin-top: -3%; margin-left: 58.5%; margin-bottom: 3%; color: rgb(0, 0, 0); font-size: 16px;">
                            Avez-vous déjà un compte ?
                            <small [routerLink]="['/login']"
                                style="color: rgb(5, 111, 111); text-align: center; cursor: pointer;">Cliquer
                                ici</small>
                        </div>
                        <div id="logo">

                            <button type="submit" [routerLink]="['/']" class="btnRegister">Retour à l'accueil</button>
                            <button [disabled]="professorform.form.invalid" type="submit"
                                class="btnRegister">S'inscrire</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>