<app-header></app-header>

<!--Professor SideBar-->
<div class="sidebar">
  <div class="logo-details">
    <i class='fa fa-bars'></i>
    <div class="logo_name">
      <img [src]="'assets/img/prof.png'" width="55" height="50" id="img"> Professeur
    </div>
    <i class='fa' id="btn"></i>
  </div>
  <ul class="nav-list">

    <li [routerLink]="['/professordashboard']">
      <a>
        <i class='fa fa-home'></i>
        <span class="links_name">Accueil</span>
      </a>
      <span class="tooltip">Accueil</span>
    </li>

    <!--Profil-->
    <li [routerLink]="['/approveprofessor']">
      <a>
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <span class="links_name">Mon profil</span>
      </a>
      <span class="tooltip">Mon profil</span>
    </li>



    <li [routerLink]="['/addCourse']">
      <a>
        <i class='fa fa-plus '></i>
        <span class="links_name">Ajouter cours</span>
      </a>
      <span class="tooltip">Ajouter cours</span>
    </li>


    <li [routerLink]="['/addedcourses']">
      <a>
        <i class='fa fa-list-ul'></i>
        <span class="links_name">Mes cours</span>
      </a>
      <span class="tooltip">Mes cours</span>
    </li>


    <li [routerLink]="['/myinsc']">
      <a>
        <i class=' fa fa-address-card'></i>
        <span class="links_name">Inscriptions</span>
      </a>
      <span class="tooltip">Inscriptions</span>
    </li>

    <li [routerLink]="['/notes']">
      <a>
        <i class='fa fa-comments'></i>
        <span class="links_name">Notes</span>
      </a>
      <span class="tooltip">Notes</span>
    </li>

    <li [routerLink]="['/']">
      <a>
        <i class='fa fa-sign-out '></i>
        <span class="links_name">Déconnexion</span>
      </a>
      <span class="tooltip">Déconnexion</span>
    </li>


  </ul>
</div>






<!--Home Professor-->

<div class="home-section">
  <div class="container">
    <!--
    <div class="dashboard-card" style="padding: 2%;margin-left: 23%;">
      <div class="sub-text" *ngFor="let count of enrollmentcount | async">
        {{count}}
      </div>
    </div>
    -->
    <div>

      <div class="row">

        <div class="dashboard-card" *ngIf="professor.status === 'accept' ">
          <div class="circle">
            <i id="icons" style="margin-left: 23px;color : rgb(22, 132, 61);" class="fa fa-check-circle"></i>
          </div>
          <div class="text" style="letter-spacing: 1px; font-size: 25px; font-weight: bolder; color: black;">
            Statut</div>
          <div class="sub-text" *ngFor="let count of enrollmentcount | async">Votre candidature a été approuvée,vous
            pouvez ajouter des cours.
          </div>
        </div>


        <div class="dashboard-card" *ngIf="professor.status === 'att'">
          <div class="circle">
            <i id="icons" style="margin-left: 23px;color : rgb(196, 137, 28);" class="fa fa-exclamation-circle"></i>
          </div>
          <div class="text" style=" letter-spacing: 1px; font-size: 25px; font-weight: bolder; color: black;">
            Statut</div>
          <div class="sub-text" *ngFor="let count of enrollmentcount | async">Votre demande est en cours de traitement.
            Merci de votre patience.
          </div>
        </div>

        <div class="dashboard-card" *ngIf="professor.status === 'reject'">
          <div class="circle">
            <i id="icons" style="margin-left: 23px;color : rgb(244, 29, 34);" class="fa fa-user-times"></i>
          </div>
          <div class="text" style=" letter-spacing: 1px; font-size: 25px; font-weight: bolder; color: black;">
            Statut</div>
          <div class="sub-text" *ngFor="let count of enrollmentcount | async">Votre candidature à l'enseignement a été
            rejetée.
          </div>
        </div>


        <div class="dashboard-card">
          <div class="circle"><i id="icons" style="margin-left: 25px;color : rgb(119, 11, 11)" class="fa fa-book"></i>
          </div>
          <div class="text" style=" letter-spacing: 1px; font-size: 25px; font-weight: bolder; color: black;">
            Mes cours</div>
          <div class="sub-text" *ngFor="let course of courses | async">{{totalcourses}} cours publiés</div>
        </div>


        <div class="dashboard-card">
          <div class="circle"><i id="icons" style="margin-left: 15px;color : rgb(0, 77, 131);"
              class="fa fa-graduation-cap"></i></div>
          <div class="text" style=" letter-spacing: 1px; font-size: 25px; font-weight: bolder; color: black;">
            Inscriptions</div>
          <div class="sub-text" *ngFor="let count of enrollmentcount | async">{{count}} Inscrits à mes cours
          </div>
        </div>



        <div class="dashboard-card">
          <div class="circle"><i id="icons" style="margin-left: 25px;color :rgb(217, 110, 22)"
              class="fa fa-commenting-o "></i></div>
          <div class="text" style="letter-spacing: 1px; font-size: 25px; font-weight: bolder; color: black;">
            Notes</div>
          <div class="sub-text" *ngFor="let course of courses | async">{{course}} notes ajoutées</div>
        </div>



      </div>


    </div>



    <div *ngIf="professor.status === 'att' ">
      pas encore
    </div>
    <div *ngIf="professor.status === 'reject' ">
      rejected
    </div>
  </div>
</div>