<app-header></app-header>

<div class="sidebar">
  <div class="logo-details">
    <i class='fa fa-bars'></i>
    <div class="logo_name"><img [src]="'assets/img/prof.png'" width="55" height="50"> Professeur </div>
    <i class='fa' id="btn"></i>
  </div>
  <ul class="nav-list">
    <li [routerLink]="['/editprofessorprofile']">
      <a>
        <i class='fa fa-edit'></i>
        <span class="links_name">Modifier mon profil</span>
      </a>
      <span class="tooltip">Modifier Mon Profil</span>
    </li>
    <li [routerLink]="['/approveprofessor']">
      <a>
        <i class='fa fa-check-square'></i>
        <span class="links_name">Statut d'approbation</span>
      </a>
      <span class="tooltip">Statut d'approbation</span>
    </li>
    <li [routerLink]="['/addCourse']">
      <a>
        <i class='fa fa-plus-square'></i>
        <span class="links_name">Ajouter cours</span>
      </a>
      <span class="tooltip">Ajouter cours</span>
    </li>
    <li [routerLink]="['/mycoursesprof']">
      <a>
        <i class='fa fa-th-list'></i>
        <span class="links_name">Mes cours</span>
      </a>
      <span class="tooltip">Mes cours</span>
    </li>

    <li [routerLink]="['/professorlist']">
      <a>
        <i class='fa fa-user-o'></i>
        <span class="links_name">Professeurs</span>
      </a>
      <span class="tooltip">Professeurs</span>
    </li>
    <li [routerLink]="['/userlist']">
      <a>
        <i class='fa fa-user'></i>
        <span class="links_name">Étudiants</span>
      </a>
      <span class="tooltip">Étudiants</span>
    </li>
    <li [routerLink]="['/addchapter']">
      <a>
        <i class='fa fa-lock'></i>
        <span class="links_name">Changer mot de passe</span>
      </a>
      <span class="tooltip">Changer mot de passe</span>
    </li>
    <li style="align-content: center;" class="profile">
      <div class="profile-details">
        <div class="name_job">
          <div style="align-content: center; font-weight: bolder;" class="name">{{loggedUser}}</div>
          <div class="job" style="align-content: center; font-weight: bolder;">Role : {{currRole}}</div>
        </div>
      </div>
      <i class='bx bx-log-out' id="log_out"></i>
    </li>

  </ul>
</div>





<div class="home-section">
  <div class="container">
    <div class="row">

      <div class="dashboard-card" style="background-color: white; box-shadow: 2px 2px 2px 2px gray;">
        <div class="circle"><i id="icons" style="margin-left: 25px;" class="fa fa-th-list"></i></div>
        <div class="text"
          style="font-family: 'aladin'; letter-spacing: 1px; font-size: 35px; font-weight: bolder; color: black;">
          Mes cours</div>
        <div class="sub-text" *ngFor="let course of courses | async">{{course}} cours ajoutés par moi</div>
      </div>

      <div class="dashboard-card" style="background-color: white; box-shadow: 2px 2px 2px 2px gray;">
        <div class="circle"><i id="icons" style="margin-left: 23px;" class="fa fa-list-alt"></i></div>
        <div class="text"
          style="font-family: 'aladin'; letter-spacing: 1px; font-size: 35px; font-weight: bolder; color: black;">
          Inscriptions</div>
        <div class="sub-text" *ngFor="let count of enrollmentcount | async">{{count}} se sont inscrites à mes cours
        </div>
      </div>

      <div class="dashboard-card" style="background-color: white; box-shadow: 2px 2px 2px 2px gray;">
        <div class="circle"><i id="icons" style="margin-left: 25px;" class="fa fa-trophy"></i></div>
        <div class="text"
          style="font-family: 'aladin'; letter-spacing: 1px; font-size: 35px; font-weight: bolder; color: black;">
          Likes</div>
        <div class="sub-text" *ngFor="let course of courses | async">{{course}} ont aimé mes cours</div>
      </div>


      <div class="dashboard-card" style="background-color: white; box-shadow: 2px 2px 2px 2px gray;">
        <div class="circle"><i id="icons" style="margin-left: 15px;" class="fa fa-graduation-cap"></i></div>
        <div class="text"
          style="font-family: 'aladin'; letter-spacing: 1px; font-size: 35px; font-weight: bolder; color: black;">
          Mes cours</div>
        <div class="sub-text" *ngFor="let count of enrollmentcount | async">{{count}} Inscriptions
        </div>
      </div>



    </div>
  </div>
  <br><br><br><br><br><br>
  <app-footer></app-footer>