<app-header></app-header>
<app-user-side-bar></app-user-side-bar>


<!--Barre de recherche-->

<div class="body" id="searchbar">
  <form (ngSubmit)="RechercherByName(coursename)">
    <div class="search">
      <input type="search" class="search-input" placeholder="Enter le nom du cours" [(ngModel)]="coursename"
        name="coursename">
      <div style="cursor: pointer;"><i (click)="RechercherByName(coursename)" class="fa fa-search" id="sicon"></i></div>

    </div>
  </form>
</div>



<div class="row" id="youtubecoursecard">
  <div class="headtext">Cours sur Youtube</div>

  <div *ngFor="let data of youtubecourselist" class="col-4 card" id="bloodCards">
    <div class="card-block">


      <youtube-player style="margin-left: 0%;" [videoId]="data.youtubeurl" suggestedQuality="highres" [height]="180"
        [width]="300"></youtube-player>
      <!----->
      <h4 class="card-title text-center" style="margin-bottom: 4%;"><b>{{data.coursename}}</b></h4>

      <div><b style="color: rgb(0, 77, 131); font-weight: 360; margin-bottom: 1%;">Enseignant:
        </b><b>{{data.instructorname}}</b></div>

      <div><b style="color: rgb(0, 77, 131); font-weight: 360; margin-bottom: 1%;">Langue :
        </b><b>{{data.language}}</b></div>
      <div><b style="color: rgb(0, 77, 131); font-weight: 360; margin-bottom: 1%;">Niveau :
        </b><b>{{data.skilllevel}}</b></div>
      <div><b style="color: rgb(0, 77, 131); font-weight: 360; margin-bottom: 1%;">Ajouté le :
        </b><b>{{data.enrolleddate}}</b></div>
      <div><b style="color: rgb(0, 77, 131); font-weight: 360; margin-bottom: 1%;">Type de cours :
        </b><b>{{data.coursetype}}</b></div>



      <h6 class="text-center"
        style="margin-left: auto; margin-right: auto; padding: 5px 10px 5px 10px; background-color: white; border-radius: 5px; font-weight: bold; width: 55%; color: peru;">
        {{data.enrolledcount}} déjà inscrits</h6>
      <!--<a [href]="data.youtubeurl" style="margin-right: 8%; margin-left: 4%" class="btn btn-primary">Enroll Now</a>-->
      <a (click)="getcoursedetails(data.coursename)" style="margin-left: 16%; margin-top: 2%; border: none;"
        class="btn btn-primary">Plus d'informations</a>
      <!--<ng-template carouselSlide [id]="data.id">
        <img [src]="data.src" [alt]="data.alt" [title]="data.title">
      </ng-template>-->
    </div>
  </div>
</div>
<br>
<div class="row" id="websitecoursecard">
  <div class="headtext">Cours sur des sites web</div>

  <div *ngFor="let data of websitecourselist" class="col-4 card" id="bloodCards">
    <div class="card-block">

      <img class="card-img-top" [src]="'assets/img/website.png'" [alt]="data.courseid">
      <hr>
      <h4 class="card-title text-center" style="margin-bottom: 4%;"><b>{{data.coursename}}</b></h4>
      <div><b style="color: rgb(0, 77, 131); font-weight: 360; margin-bottom: 1%;">Enseignant:
        </b><b>{{data.instructorname}}</b></div>

      <div><b style="color: rgb(0, 77, 131); font-weight: 360; margin-bottom: 1%;">Langue :
        </b><b>{{data.language}}</b></div>
      <div><b style="color: rgb(0, 77, 131); font-weight: 360; margin-bottom: 1%;">Niveau :
        </b><b>{{data.skilllevel}}</b></div>
      <div><b style="color: rgb(0, 77, 131); font-weight: 360; margin-bottom: 1%;">Ajouté le :
        </b><b>{{data.enrolleddate}}</b></div>
      <div><b style="color: rgb(0, 77, 131); font-weight: 360; margin-bottom: 1%;">Type de cours :
        </b><b>{{data.coursetype}}</b></div>


      <h6 class="text-center"
        style="margin-left: auto; margin-right: auto; padding: 5px 10px 5px 10px; background-color: white; border-radius: 5px; font-weight: bold; width: 55%; color: peru;">
        {{data.enrolledcount}} déjà inscrits</h6>


      <!--<a [href]="data.websiteurl" style="margin-right: 8%; margin-left: 4%" class="btn btn-primary">Enroll Now</a>-->
      <a (click)="getcoursedetails(data.coursename)" style="margin-left: 16%; margin-top: 2%; border: none;"
        class="btn btn-primary">Plus d'informations</a>
    </div>
    <!--<ng-template carouselSlide [id]="data.id">
        <img [src]="data.src" [alt]="data.alt" [title]="data.title">
      </ng-template>-->
  </div>
</div>

<div id="coursedetailscard" style="margin-left: 30%; margin-top: 5%;" *ngFor="let data of courselist | async">
  <div class="card-body"
    style="    box-shadow: 2px 2px 2px 2px gray;
    ; margin-right: 5%; margin-bottom: 10%; padding-left: 3%; width: 520px; border-radius: 10px; background-color: white;">

    <h6 class="text-center"
      style="margin-left: auto; margin-right: auto; padding: 5px 10px 5px 10px; background-color: gray; border-radius: 5px; font-weight: bold; margin-bottom: 4%; width: 40%; color: white;">
      {{data.coursename}}</h6>
    <div><b style="color: rgb(0, 77, 131); font-weight: 500; margin-bottom: 1%;">Nom d'enseignant : </b>
      {{data.instructorname}}</div>
    <div><b style="color: rgb(0, 77, 131); font-weight: 500; margin-bottom: 1%;">Etablissement d'enseignant : </b>
      {{data.instructorinstitution}}</div>
    <div><b style="color: rgb(0, 77, 131); font-weight: 500; margin-bottom: 1%;">Cours ajouté le : </b>
      {{data.enrolleddate}}</div>

    <div><b style="color: rgb(0, 77, 131); font-weight: 500; margin-bottom: 1%;">Type de cours :
      </b>{{data.coursetype}}
      contenus</div>
    <div><b style="color: rgb(0, 77, 131); font-weight: 500; margin-bottom: 1%;">Niveau : </b>{{data.skilllevel}}
    </div>
    <div><b style="color: rgb(0, 77, 131); font-weight: 500; margin-bottom: 1%;">Langue : </b>{{data.language}}
    </div>
    <p class="card-text"><br><b
        style="color: rgb(53, 53, 53); font-weight: 500; margin-bottom: 1%;">{{data.description}}</b></p>

    <h6 class="text-center"
      style="margin-left: auto; margin-right: auto; padding: 5px 10px 5px 10px; background-color: white; border-radius: 5px; font-weight: bold; width: 55%; color: peru;">
      {{data.enrolledcount}} déjà inscrits</h6>

    <div *ngFor="let status of enrollmentstatus | async">
      <div *ngIf="status === 'notenrolled' && data.coursetype === 'Youtube' ">
        <a (click)="enrollcourse(data,loggedUser,currRole)" id="enrollbtn" value="Accept"
          style="margin-right: 5%; margin-left: 3%" class="btn btn-primary">S'inscrire</a>
      </div>

      <div *ngIf="status === 'enrolled' && data.coursetype === 'Youtube'">
        <a style="margin-right: 8%; margin-left: 7%;" class="btn btn-secondary">Inscrit</a>
      </div>

    </div>


    <div *ngIf="data.coursetype === 'Youtube'" style="margin-top: -7.5%; margin-left: 25%;">
      <a (click)="visitCourse(data.coursename,data.instructorname)" style=" margin-right: 2%; border: none;"
        class="btn btn-primary">Visiter
        cours</a>
      <a id="courselistbtn" (click)="backToCourseList()" style="border: none; margin-right: 2%;"
        class="btn btn-primary">Liste des cours</a>
    </div>
    <div *ngFor="let status of enrollmentstatus | async">
      <div *ngIf="data.coursetype === 'Website'" style="margin-top: 0%; margin-left: 6%;">
        <a *ngIf="status === 'notenrolled' " (click)="enrollcourse(data,loggedUser,currRole)"
          style="margin-right: 3%; border: none;" class="btn btn-primary">S'inscrire</a>
        <a *ngIf="status === 'enrolled'" style=" margin-right: 3%; margin-left: 3%;"
          class="btn btn-secondary">Inscrit</a>

        <a (click)="gotoURL(data.websiteurl)" style="margin-right: 3%; border: none;" class="btn btn-primary">Visiter
          cours</a>
        <a id="courselistbtn" (click)="backToCourseList()" style="border: none; margin-right: 2%;"
          class="btn btn-primary">Liste des cours</a>
      </div>
    </div>




    <div *ngFor="let status of wishliststatus | async">
      <div style="margin-top: -7.5%; margin-left: 85%;" *ngIf="status === 'notliked'">
        <a id="wishlistbtn" (click)="addToWishList(data,loggedUser,currRole)"
          style="border: none; background-color: transparent; outline: none; font-weight: bolder; border: none;"><i
            class="fa fa-heart-o fa-2x" style="color: red;"></i><b style="font-size: larger;"></b></a>
        <a id="likedbtn"
          style="display: none; margin-right: 8%; margin-left: 6%; font-weight: bolder; background-color: transparent; outline: none; border: none;"><i
            class="fa fa-heart fa-2x" style="color: red;"></i><b style="font-size: larger;"></b></a>
      </div>
      <div style="margin-top: -7.5%; margin-left: 85%;" *ngIf="status === 'liked'">
        <a style="margin-right: 8%; font-weight: bolder; background-color: transparent; outline: none; border: none;"><i
            class="fa fa-heart fa-2x" style="color: red;"></i><b style="font-weight: larger;"></b></a>
      </div>
    </div>
  </div>
</div>



<div id="enrollsuccess" style="margin-left: 13%; margin-top: 3%;">
  <div class="card-body"
    style="box-shadow: 2px 2px 2px 2px gray; margin-right: 5%; margin-bottom: 10%; padding: 25px; height: 550px; width: 95%; border-radius: 10px; background-color: white;">
    <div style="width: 100%; height: 135px; border-radius: 10px; background-color: rgb(103, 219, 219); padding: 20px;">
      <div class="rounded-circle"
        style="background-color: rgb(7, 43, 43); height: 34%; width: 3.5%; align-content: center;"><i
          style="font-weight: bolder; margin-left: 10px; margin-top: 7px; color: white; font-size: large;"
          class="fa fa-check"></i></div>
      <div style="color: black; font-weight: bolder; font-size: 25px; margin-top: -3.6%; margin-left: 5%;">Bon
        choix,
        {{loggedUser}}!</div>
      <button
        style="background-color: rgb(7, 43, 43); margin-left: 5%; margin-top: 15px; padding: 10px; border-radius: 10px; border: none; outline: none;"><i
          style="font-weight: bolder; margin-left: 10px; margin-top: 6px; color: white; font-size: large;"
          class="fa fa-share"></i><b style="font-weight: bold; color: white;"> Partager ce cours</b></button>
    </div>
    <br>
    <div style="font-weight: bold; color: black; font-size: 20px;">Commencez le cours sans tarder</div><br>
    <div style="background-color: rgb(29, 28, 28); border-radius: 10px; height: 260px; color: white; padding: 30px;">
      <youtube-player style="margin-right: 5%;" [videoId]="enrolledURL" suggestedQuality="highres" [height]="200"
        [width]="400"></youtube-player>
      <div style="margin-top: -18%; margin-left: 45%;">
        <h4 class="card-title text-left" style="margin-bottom: 2%;"><b style="font-size: 30px;">{{enrolledName}}</b>
        </h4>
        <h6 class="text-center"
          style="padding: 5px 10px 5px 10px; background-color: gray; border-radius: 5px; font-weight: bold; margin-bottom: 2%; width: 35%; color: white;">
          {{enrolledID}}</h6>
        <div><b style="color: white; font-size: large; margin-bottom: 4%;">Instruit par : </b><b>
            {{enrolledInstructorName}}</b></div>
        <div style="margin-top: 4%;">
          <a (click)="visitCourse(enrolledName,enrolledInstructorName)" style="margin-right: 8%; border: none;"
            id="enrollsuccessbtn" class="btn btn-primary">Visiter cours</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" #alertOne id="alertOne" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cours non inscrite</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img [src]="'assets/img/alert.gif'" style="margin-left: 35%;" width="150" height="150"><br>
        <b style="font-weight: bold; color: red; align-content: center;">Vous n'êtes pas encore inscrit à ce cours.
          Veuillez vous inscrire à ce cours pour continuer.</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="cursor: pointer;" data-bs-dismiss="modal">Rejeter</button>
      </div>
    </div>
  </div>
</div>

<br>