<div class="wrapper">
  <div class="container">


    <button class="headbtn1" id="userbtn">Étudiant</button>
    <button class="headbtn2" id="professorbtn">Enseignant</button>
    <button class="headbtn3" id="adminbtn">Manager</button>



    <!--Espace etudiant-->

    <div class="user-login-form">
      <h4 class="textual">Étudier en ligne</h4>
      <form #userloginform="ngForm" (ngSubmit)="loginUser()">
        <small class="text-danger"><b>{{msg1}}</b></small>
        <div class="form-group">
          <label for="email">Adresse email<b class="text-danger"> *</b></label>
          <input type="email" class="form-control" placeholder="Entrer votre email" name="email"
            [(ngModel)]="user.email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #email="ngModel"
            [class.is-invalid]="email.invalid && email.touched">
          <!--<small class="text-danger" [class.d-none]="email.valid || email.untouched"><b>required field</b></small>-->
          <div *ngIf="email.errors && email.invalid && email.touched">
            <small class="text-danger" *ngIf="email.errors.required"><b>Champ obligatoire</b></small>
            <small class="text-danger" *ngIf="email.errors.pattern"><b>Adresse email invalide</b></small>
          </div>
        </div>
        <div class="form-group">
          <label for="pwd" style="margin-top: 5px;">Mot de passe <b class="text-danger">*</b></label>
          <input type="password" class="form-control" placeholder="Entrer votre mot de passe" name="pwd"
            [(ngModel)]="user.password" required #password="ngModel"
            [class.is-invalid]="password.invalid && password.touched">
          <div *ngIf="password.errors && password.invalid && password.touched">
            <small class="text-danger" *ngIf="password.errors.required"><b>Champ obligatoire</b></small>
          </div>
          <small style="color: gray; font-size: 10px;"></small>
        </div>
        <div class="checkbox" style="margin-top: 5px;">
          <small style="color: rgb(0,13,30); margin-left: 30%; cursor: pointer;" [routerLink]="['/pwdforgotten']">Mot de
            passe oublié ?</small>
        </div>
        <button [disabled]="userloginform.form.invalid" type="submit" class="btn loginbtn">Se connecter</button>
      </form>
      <div class="sign-up" style=" text-align: center; margin-top: 10px;">Vous n'avez pas de compte ?<small
          [routerLink]="['/registration']" style="color: rgb(5, 111, 111); text-align: center; cursor: pointer;"><b>
            Créer
            un
            compte</b></small></div>
      <hr>
      <div class="text-center">
        <button type="submit" [routerLink]="['/']" class="btn" id="logo">Retour à l'accueil</button>
      </div>
    </div>


    <!--Espace professeur-->

    <div class="professor-login-form">
      <h4 class="textual">Enseigner en ligne</h4>
      <form #professorloginform="ngForm" (ngSubmit)="loginProfessor()">
        <small class="text-danger"><b>{{msg2}}</b></small>
        <div class="form-group">
          <label for="email">Adresse email <b class="text-danger">*</b></label>
          <input type="email" class="form-control" placeholder="Entrer votre email" name="professoremail"
            [(ngModel)]="professor.email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #professoremail="ngModel"
            [class.is-invalid]="professoremail.invalid && professoremail.touched">
          <!--<small class="text-danger" [class.d-none]="professoremail.valid || professoremail.untouched"><b>required field</b></small>-->
          <div *ngIf="professoremail.errors && professoremail.invalid && professoremail.touched">
            <small class="text-danger" *ngIf="professoremail.errors.required"><b>Champ obligatoire</b></small>
            <small class="text-danger" *ngIf="professoremail.errors.pattern"><b>Adresse email invalide</b></small>
          </div>
        </div>
        <div class="form-group">
          <label for="pwd" style="margin-top: 5px;">Mot de passe<b class="text-danger"> *</b></label>
          <input type="password" class="form-control" placeholder="Entrer votre mot de passe" name="pwd"
            [(ngModel)]="professor.password" required #professorpassword="ngModel"
            [class.is-invalid]="professorpassword.invalid && professorpassword.touched">
          <div *ngIf="professorpassword.errors && professorpassword.invalid && professorpassword.touched">
            <small class="text-danger" *ngIf="professorpassword.errors.required"><b>Champ obligatoire</b></small>
          </div>
          <small style="color: gray; font-size: 10px;"></small>
        </div>
        <div class="checkbox" style="margin-top: 5px;">
          <small style="color: rgb(0,13,30); margin-left: 30%; cursor: pointer;" routerLink="/pwdforgotten">Mot de passe
            oublié ?</small>
        </div>
        <button [disabled]="professorloginform.form.invalid" type="submit" class="btn loginbtn">Se connecter</button>
      </form>
      <div class="sign-up" style=" text-align: center; margin-top: 10px;">Vous n'avez pas de compte ? <small
          [routerLink]="['/registration']"
          style="color: rgb(5, 111, 111); text-align: center; cursor: pointer;"><b>Créer
            un
            compte</b></small></div>
      <hr>
      <div class="text-center">
        <button type="submit" [routerLink]="['/']" class="btn" id="logo">Retour à l'accueil</button>
      </div>
    </div>



    <!--Espace manager-->

    <div class="admin-login-form">
      <h4 class="textual">Espace Manager</h4>
      <form #adminloginform="ngForm" (ngSubmit)="adminLogin()">
        <small class="text-danger"><b>{{msg3}}</b></small>
        <div class="form-group">
          <label for="email"> Identifiant <b class="text-danger">*</b></label>
          <input type="email" class="form-control" placeholder="Entrer votre identifiant" name="email"
            [(ngModel)]="adminEmail" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" #adminemail="ngModel"
            [class.is-invalid]="adminemail.invalid && adminemail.touched">
          <!--<small class="text-danger" [class.d-none]="email.valid || email.untouched"><b>required field</b></small>-->
          <div *ngIf="adminemail.errors && adminemail.invalid && adminemail.touched">
            <small class="text-danger" *ngIf="adminemail.errors.required"><b>Champ obligatoire</b></small>
            <small class="text-danger" *ngIf="adminemail.errors.pattern"><b>identifiant invalide</b></small>
          </div>
        </div>
        <div class="form-group">
          <label for="pwd" style="margin-top: 5px;">Mot de passe<b class="text-danger"> *</b></label>
          <input type="password" class="form-control" placeholder="Entrer votre mot de passe" name="pwd"
            [(ngModel)]="adminPassword" required #adminpassword="ngModel"
            [class.is-invalid]="adminpassword.invalid && adminpassword.touched">
          <div *ngIf="adminpassword.errors && adminpassword.invalid && adminpassword.touched">
            <small class="text-danger" *ngIf="adminpassword.errors.required"><b>Champ obligatoire</b></small>
          </div>
          <small style="color: gray; font-size: 10px;">
            Espace d'administration.</small>
        </div>
        <button [disabled]="adminloginform.form.invalid" type="submit" class="btn loginbtn">Se connecter</button>
      </form>
      <hr>
      <div class="text-center">
        <button type="submit" [routerLink]="['/']" class="btn" id="logo">Retour à l'accueil</button>
      </div>
      <br>
    </div>



  </div>