<!--Head of home -->

<div class="content">
  <div class="header" id="header">
    <div class="nav">
      <label></label>
      <div class="switchs">
        <button style="font-weight: bold;" class="log" id="log" onclick="location.href='#about';"><i
            class="fa fa-home"></i>
          Accueil</button>
        <!--
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['/professorlist']"><i
            class="fa fa-user"></i>
          Professeurs</button> 
        -->
        <button style="font-weight: bold;" class="log" id="log" onclick="location.href='#services';"><i
            class="fa fa-cog"></i> E-services</button>
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['/login']"><i class="fa fa-sign-in"> </i>
          Se connecter</button>
        <button style="font-weight: bold;" class="create_acc" id="create_acc" [routerLink]="['/registration']"><i
            class="fa fa-user-plus"></i> Créer nouveau compte</button>
      </div>
    </div>
    <div class="main">
      <div class="">
        <br><br>
      </div><br>
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
  </div>
  <br>
</div>




<!--Right section-->

<section id="about" class="about about-bg">

  <div class="about-containerapp">
    <div class="subtextapp"><b>StudyStream</b></div>
  </div>

  <div class="about-container">
    <div class="subtext1" id="subtext1">&nbsp;
      Facilité d'apprentissage<i id="subtext1" class="fa fa-caret-down"></i></div>
    <div class="innertext1" id="innertext1">
      Tout à portée de main ! notre portail rend l'apprentissage super facile ! Vous y trouverez tout ce dont vous
      avez besoin pour améliorer vos compétences. <br>
    </div>
  </div>

  <div class="about-container">
    <div class="subtext1" id="subtext2">&nbsp;Inscription gratuite<i id="subtext2" class="fa fa-caret-down"></i></div>
    <div class="innertext1" id="innertext2">
      Ce portail offre la possibilité de s'inscrire en tant que professeur ou étudiant
      gratuitement.
      Chaque type de compte donne accès à des fonctionnalités spécifiques pour accomplir ses tâches.
    </div>
  </div>

  <div class="about-container">
    <div class="subtext1" id="subtext3">&nbsp;Personnalisation des cours<i id="subtext3" class="fa fa-caret-down"></i>
    </div>
    <div class="innertext1" id="innertext3">Les professeurs peuvent spécifier
      le type de cours lors de l'ajout d'un nouveau contenu, que ce soit une vidéo,un site web,google classroom,etc...,
      offrant ainsi une expérience d'apprentissage variée et adaptée aux besoins des apprenants.</div>
  </div>

  <div class="about-container">
    <div class="subtext1" id="subtext4">&nbsp;Interactivité et Participation<i id="subtext4"
        class="fa fa-caret-down"></i></div>
    <div class="innertext1" id="innertext4">
      Vous pouvez également prendre des notes,
      télécharger des ressources, poser des questions et donner des retours sur le cours.
    </div>
  </div><br>


  <!--Left image-->
  <img class="automation" [src]="'assets/img/hih.png'" width="470" height="470">

</section>


<!--Bottom-->

<main id="main">

  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 style="font-family: Georgia; color: rgb(0, 13, 30);">Portail <span> </span> d'apprentissage <span></span>en
          ligne</h2>
      </div>
      <div class="mid_body2">
        <div class="details">
          <div class="detail_1" (click)="navigate()" style="background-color: rgb(121, 122, 124); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: Georgia; margin-top: 5%; color: white;">
              Gérer </h2>
            <div>
              <img [src]="'assets/img/managers.png'" width="190" height="190">
            </div>
          </div>
          <div class="detail_2" (click)="navigate()" style="background-color: rgb(121, 122, 124); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: Georgia; margin-top: 5%; color: white;">
              Enseigner </h2>
            <div>
              <img [src]="'assets/img/profs.png'" width="200" height="200">
            </div>
          </div>
          <div class="detail_3" (click)="navigate()" style="background-color: rgb(121, 122, 124); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: Georgia; margin-top: 5%; color: white;">
              Étudier
            </h2>
            <div>
              <img [src]="'assets/img/etudiants.png'" width="200" height="200">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>