<app-header></app-header>

<div class="sidebar">
  <div class="logo-details">
    <i class='fa fa-bars'></i>
    <div class="logo_name"><img [src]="'assets/img/user.png'" width="55" height="50"> Étudiant </div>
    <i class='fa' id="btn"></i>
  </div>
  <ul class="nav-list">
    <div> </div>
    <li [routerLink]="['/edituserprofile']">
      <a>
        <i class='fa fa-edit'></i>
        <span class="links_name">Modifier Mon Profil</span>
      </a>
      <span class="tooltip">Modifier Mon Profil</span>
    </li>

    <li [routerLink]="['/mycourses']">
      <a>
        <i class='fa fa-graduation-cap'></i>
        <span class="links_name">Mon cursus</span>
      </a>
      <span class="tooltip">Mon cursus</span>
    </li>
    <li [routerLink]="['/mywishlist']">
      <a>
        <i class='fa fa-heart'></i>
        <span class="links_name">Liste des souhaits</span>
      </a>
      <span class="tooltip">Liste des souhaits</span>
    </li>
    <li [routerLink]="['/courselist']">
      <a>
        <i class='fa fa-list'></i>
        <span class="links_name">Cours</span>
      </a>
      <span class="tooltip">Cours</span>
    </li>
    <li [routerLink]="['/professorlist']">
      <a>
        <i class='fa fa-user-o'></i>
        <span class="links_name">Professeurs</span>
      </a>
      <span class="tooltip">Professeurs</span>
    </li>
    <li [routerLink]="['/userlist']">
      <a>
        <i class='fa fa-user'></i>
        <span class="links_name">Étudiants</span>
      </a>
      <span class="tooltip">Étudiants</span>
    </li>
    <li [routerLink]="['/pswrd']">
      <a>
        <i class='fa fa-lock'></i>
        <span class="links_name">Changer mot de passe</span>
      </a>
      <span class="tooltip">Changer mot de passe</span>
    </li>
    <li style="align-content: center;" class="profile">
      <div class="profile-details">
        <div class="name_job">
          <div style="align-content: center; font-weight: bolder;" class="name">{{loggedUser}}</div>
          <div class="job" style="align-content: center; font-weight: bolder;">Role : {{currRole}}</div>
        </div>
      </div>
      <i class='bx bx-log-out' id="log_out"></i>
    </li>
  </ul>
</div>

<!--Home-->

<div class="home-section">
  <div class="container">
    <div class="row">

      <div class="dashboard-card" style="background-color: white; box-shadow: 2px 2px 2px 2px gray;">
        <div class="circle"><i id="icons" style="margin-left: 25px;" class="fa fa-trophy"></i></div>
        <div class="text"
          style="font-family: Georgia; letter-spacing: 1px; font-size: 25px; font-weight: bolder; color: black;">
          Cours</div>
        <div class="sub-text" *ngFor="let course of courses | async">{{course}} Cours disponibles </div>
      </div>


      <div class="dashboard-card" style="background-color: white;box-shadow: 2px 2px 2px 2px gray;">
        <div class="circle"><i id="icons" style="margin-left: 20px;" class="fa fa-list"></i></div>
        <div class="text"
          style="font-family: Georgia; letter-spacing: 1px; font-size: 25px; font-weight: bolder; color: black;">
          Chapitres</div>
        <div class="sub-text" *ngFor="let chapter of chapters | async">{{chapter}} Cours disponibles avec des chapitres
          détaillés
        </div>
      </div>

      <div class="dashboard-card" style="background-color: white; box-shadow: 2px 2px 2px 2px gray;">
        <div class="circle"><i id="icons" style="margin-left: 25px;" class="fa fa-id-card-o "></i></div>
        <div class="text"
          style="font-family: Georgia; letter-spacing: 1px; font-size: 25px; font-weight: bolder; color: black;">
          Inscriptions</div>
        <div class="sub-text" *ngFor="let course of courses | async">Je me suis inscrit à {{course}} cours</div>
      </div>


      <div class="dashboard-card" style="background-color: white;box-shadow: 2px 2px 2px 2px gray;">
        <div class="circle"><i id="icons" style="margin-left: 20px;" class="fa fa-check"></i></div>
        <div class="text" style="font-family: Georgia;font-size: 25px; font-weight: bolder; color: black;">Cours
          terminés</div>
        <div class="sub-text" *ngFor="let chapter of chapters | async">J'ai terminé {{chapter}} cours</div>
      </div>

    </div>


  </div>