<footer id="footer" class="bg-light text-center">
    <div id="footercontent" class="text-center p-3"
        style="background-color: rgb(0, 13, 30); font-weight: bolder; color: white;">
        © 2024 GMI-2 FSTM - StudyStream

        <section class="mb-4">

            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border: none;" role="button"
                href="https://github.com/Wiss5577"><i class="fa fa-github"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border: none;" role="button"
                href="https://github.com/branou"><i class="fa fa-github"></i></a>
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border: none;" role="button"
                href="https://github.com/ismailIaich"><i class="fa fa-github"></i></a>
        </section>

    </div>
</footer>