<app-header></app-header>
<!--Sidebar-->

<!--Student SideBar-->

<div class="sidebar">
  <div class="logo-details">
    <i class='fa fa-bars'></i>
    <div class="logo_name"><img [src]="'assets/img/user.png'" width="55" height="50"> Étudiant </div>
    <i class='fa' id="btn"></i>
  </div>

  <ul class="nav-list">
    <div> </div>

    <li [routerLink]="['/addProfessor']">
      <a>
        <i class='fa fa-plus'></i>
        <span class="links_name">Ajouter Professeur</span>
      </a>
      <span class="tooltip">Ajouter Professeur</span>
    </li>

    <li [routerLink]="['/approveprofessor']">
      <a>
        <i class='fa fa-check-square'></i>
        <span class="links_name">Demandes</span>
      </a>
      <span class="tooltip">Demandes</span>
    </li>

    <li [routerLink]="['/courselist']">
      <a>
        <i class='fa fa-list'></i>
        <span class="links_name">Cours</span>
      </a>
      <span class="tooltip">Cours</span>
    </li>
    <li [routerLink]="['/professorlist']">
      <a>
        <i class='fa fa-user-o'></i>
        <span class="links_name">Professeurs
        </span>
      </a>
      <span class="tooltip">Professeurs</span>
    </li>

    <li [routerLink]="['/userlist']">
      <a>
        <i class='fa fa-user-o'></i>
        <span class="links_name">Étudiants
        </span>
      </a>
      <span class="tooltip">Étudiants</span>
    </li>

    <li [routerLink]="['/enrollmentslist']">
      <a>
        <i class='fa fa-heart'></i>
        <span class="links_name">Inscriptions</span>
      </a>
      <span class="tooltip">Inscriptions</span>
    </li>

    <li [routerLink]="['/']">
      <a>
        <i class='fa fa-sign-out '></i>
        <span class="links_name">Déconnexion</span>
      </a>
      <span class="tooltip">Déconnexion</span>
    </li>
  </ul>
</div>



<!--Home-->
<div class="back">
  <div class="home-section">
    <div class="container">
      <div class="row">

        <div class="dashboard-card" style="background-color: white; box-shadow: 2px 2px 2px 2px gray;">
          <div class="circle"><i id="icons" style="margin-left: 25px;" class="fa fa-trophy"></i></div>
          <div class="text"
            style="font-family: Georgia; letter-spacing: 1px; font-size: 25px; font-weight: bolder; color: black;">
            Cours</div>
          <div class="sub-text" *ngFor="let user of users | async">{{user}} étudiants inscrits</div>
        </div>


        <div class="dashboard-card" style="background-color: white;box-shadow: 2px 2px 2px 2px gray;">
          <div class="circle"><i id="icons" style="margin-left: 20px;" class="fa fa-list"></i></div>
          <div class="text"
            style="font-family: Georgia; letter-spacing: 1px; font-size: 25px; font-weight: bolder; color: black;">
            Chapitres</div>
          <div class="sub-text" *ngFor="let professor of professors | async">{{professor}}
            professeurs qui enseignent actuellement
          </div>
        </div>

        <div class="dashboard-card" style="background-color: white; box-shadow: 2px 2px 2px 2px gray;">
          <div class="circle"><i id="icons" style="margin-left: 25px;" class="fa fa-id-card-o "></i></div>
          <div class="text"
            style="font-family: Georgia; letter-spacing: 1px; font-size: 25px; font-weight: bolder; color: black;">
            Inscriptions</div>
          <div class="sub-text" *ngFor="let course of courses | async">{{course}} cours disponibles </div>
        </div>


        <div class="dashboard-card" style="background-color: white;box-shadow: 2px 2px 2px 2px gray;">
          <div class="circle"><i id="icons" style="margin-left: 20px;" class="fa fa-check"></i></div>
          <div class="text" style="font-family: Georgia;font-size: 25px; font-weight: bolder; color: black;">Cours
            terminés</div>
          <div class="sub-text" *ngFor="let enrollment of enrollments | async">{{enrollment}} inscriptions effectuées
            /div>
          </div>

        </div>


      </div>
    </div>