<app-header></app-header>

<div class="sidebar-container">
  <ul class="sidebar-navigation">
    <div class="card" style="width:235px; background-color: rgb(0, 13, 30);">
      <div id="userimg" style="width:150px;">
        <img [src]="'assets/img/admin.png'" alt="Card image" style="width:100%">
      </div>
      <div style="margin-left: auto; margin-right: auto;" class="card-body">
        <h4 style="font-weight: bolder;" class="card-title"><b>{{name}}</b></h4>
      </div>
    </div>

    <li>
      <i class="fa fa-plus" aria-hidden="true"></i> <label [routerLink]="['/addProfessor']"
        style="cursor: pointer;">Ajouter Professeur</label>
    </li>

    <li>
      <i class="fa fa-check-square" aria-hidden="true"></i> <label [routerLink]="['/approveprofessor']"
        style="cursor: pointer;">Demandes</label>
    </li>
    <li>
      <i class="fa fa-clock-o" aria-hidden="true"></i> <label [routerLink]="['/addetudiant']"
        style="cursor: pointer;">Cours en attente</label>
    </li>
    <li>
      <i class="fa fa-list" aria-hidden="true"></i> <label [routerLink]="['/courselist']"
        style="cursor: pointer;">Cours</label>
    </li>

    <li>
      <i class="fa fa-user-o" aria-hidden="true"></i> <label [routerLink]="['/professorlist']"
        style="cursor: pointer;">Professeurs</label>
    </li>
    <li>
      <i class="fa fa-user" aria-hidden="true"></i> <label [routerLink]="['/userlist']"
        style="cursor: pointer;">Étudiants</label>
    </li>
    <li>
      <i class="fa fa-sticky-note-o" aria-hidden="true"></i> <label [routerLink]="['/Notes']"
        style="cursor: pointer;">Mes
        notes</label>
    </li>
  </ul>
</div>




<div class="container">
  <br><br><br>
  <div class="row">
    <div class="dashboard-card" style="background-color: white; box-shadow: 2px 2px 2px 2px gray;">
      <div class="circle"><i id="icons" style="margin-left: 30px;" class="fa fa-user"></i></div>
      <div class="text">Étudiants</div>
      <div class="sub-text" *ngFor="let user of users | async">{{user}} Étudiants </div>
    </div>
    <div class="dashboard-card" style="background-color: white; box-shadow: 2px 2px 2px 2px gray;">
      <div class="circle"><i id="icons" style="margin-left: 25px;" class="fa fa-user-o"></i></div>
      <div class="text">Professeurs</div>
      <div class="sub-text" *ngFor="let professor of professors | async">{{professor}}
        Professeurs qui enseignent actuellement </div>
    </div>
    <div class="dashboard-card" style="background-color: white; box-shadow: 2px 2px 2px 2px gray;">
      <div class="circle"><i id="icons" style="margin-left: 25px;" class="fa fa-trophy"></i></div>
      <div class="text">Cours</div>
      <div class="sub-text" *ngFor="let course of courses | async">{{course}} Cours disponibles </div>
    </div>
    <div class="dashboard-card" style="background-color: white; box-shadow: 2px 2px 2px 2px gray;">
      <div class="circle"><i id="icons" style="margin-left: 15px;" class="fa fa-graduation-cap"></i></div>
      <div class="text">Inscriptions </div>
      <div class="sub-text" *ngFor="let count of enrollmentcount | async">{{count}} Inscriptions par <b
          *ngFor="let enrollment of enrollments | async">{{enrollment}}</b> étudiants</div>
    </div>
    <div class="dashboard-card" style="background-color: white; box-shadow: 2px 2px 2px 2px gray;">
      <div class="circle"><i id="icons" style="margin-left: 20px;" class="fa fa-list"></i></div>
      <div class="text">Chapitres</div>
      <div class="sub-text" *ngFor="let chapter of chapters | async">{{chapter}} Cours avec <br> des chapitres détaillés
      </div>
    </div>
    <div class="dashboard-card" style="background-color: white; box-shadow: 2px 2px 2px 2px gray;">
      <div class="circle"><i id="icons" style="margin-left: 20px;" class="fa fa-heart"></i></div>
      <div class="text">Favoris </div>
      <div class="sub-text" *ngFor="let wishlists of wishlist | async">{{wishlists}} Cours sont appréciés par la
        plupart des inscrits</div>
    </div>
  </div>
</div>

<br><br><br><br>

<footer id="footer" class="bg-light text-center">
  <div id="footercontent" class="text-center p-3"
    style="background-color: rgb(0, 13, 30); font-weight: bolder; color: white;">
    © 2024 GMI-2 FSTM

    <section class="mb-4">

      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border: none;" role="button"
        href="https://github.com/Wiss5577"><i class="fa fa-github"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border: none;" role="button"
        href="https://github.com/branou"><i class="fa fa-github"></i></a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #333333; border: none;" role="button"
        href="https://github.com/ismailIaich"><i class="fa fa-github"></i></a>
    </section>

  </div>
</footer>